#map{
  display: none;
}
a {
            color: #04b; /* Цвет ссылки */
            text-decoration: none; /* Убираем подчеркивание у ссылок */
        }
a:visited {
            color: #04b; /* Цвет посещённой ссылки */
        }

a:hover {
            color: #f50000; /* Цвет ссылки при наведении на нее курсора мыши */
        }